body
{
	background-color: lemonchiffon;
}

img
{
	width:128px;
}

div#header
{
	display: flex;
	flex-direction: row;
	justify-content: right;
	img
	{
		transform: scaleX(-1);
	}
}

div#navigation
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;

	a
	{
		font-size: 1.5em;
		height: 1.5em;

		background-color: lightblue;

		border-style: outset;
		border-color: lightskyblue;
		border-width: 0.25em;
	}

	a:link
	{
		text-decoration: none;
		color: black;
	}

	a:visited
	{
		color:black
	}

	a:active
	{
		border-style: inset;
		color: gray
	}
}

