body{
	background-color: #f0f0f0;
	font-family: sans-serif;
	margin: 0px;
}
#topic{
	background-color: yellowgreen;
	color: white;
	width: fit-content;
	margin: 30px auto 30px auto;
	padding: 25px;
	border-radius: 30px;
}
#infoLists{
	display: flex;
	justify-content: center;
}
.summaryLists{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}
.summaryLists > ul{
	 background-color: white;
	 margin: 0px;
	 border-radius: 0px 0px 20px 20px;
}
.summaryLists > ol{
	background-color: white;
	margin: 0px;
	border-radius: 0px 0px 20px 20px;
}
.summaryLists > h1{
	text-align: center;
	color: white;
	background-color: blue;
	padding: 15px;
	border-radius: 20px 20px 0px 0px;
	margin: 0px;
}
li{
	padding: 10px;
}
#notes{
	display: none;
}
#titleBar{
	background-color: #5BC8B2;
	font-family: monospace;
	padding: 15px;
	color: white;
	text-align: right;
	font-size: 35px;
	display: flex;
	justify-content: space-between;
}

a{
	text-decoration: none;
	color: white;
}

#tagline
{
	color: rgba(255,255,255,0.5);
	font-style: italic;
	margin-left: 3%;
}

.blob {
	background: #ADD8E6;
	border-radius: 50%;
	margin: 10px;
	height: 50px;
	width: 50px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.blobUpload {
	background: orange;
	border-radius: 50%;
	margin: 10px;
	height: 50px;
	width: 50px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}
#loadingArea{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 256px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: solid;
	border-radius: 50%;
	border-color: #ADD8E6;
	height: 256px;
	color: #ADD8E6;
}
#loadingAreaUpload{
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	width: 256px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: solid;
	border-radius: 50%;
	border-color: orange;
	height: 256px;
	color: orange;
	text-align: center;
}

#startButtons{
	display: flex;
	margin: auto;
	width: 33%;
	justify-content: space-evenly;
}

#welcome{
	font-size: 48px;
	width: fit-content;
	margin: 30px auto 30px auto;
	padding: 48px;
	font-family: monospace;
	border: solid;
	background-color: white;
	border-radius: 40%;
	color: #191970;
}

button{
	font-size: 30px;
	background-color: #ADD8E6;
	border-radius: 15px;
	padding: 15px;
	border: none;
	cursor: pointer;
}

.generalContent{
	margin: 20px;
	background-color: #f9f9f7;
	padding: 15px;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
}

.generalContent > h1{
	color: #317873;
}

.callToAction{
	font-size: 32px;
	width: fit-content;
	margin: 30px auto 30px auto;
	padding: 25px;
	border: solid;
	background-color: white;
	border-radius: 25px;
	color: #191970;
}

#fileSubmitForm{
	margin: auto;
	width: 50%;
	display: flex;
	justify-content: space-between;
}

input[type="file"]::file-selector-button {
	font-size: 24px;
	padding: 10px;
	text-align-last: center;
	background-color: #48bf91;
	border: none;
	border-radius: 30px;
	color: white;
	
}

#fileSubmitButton{
	text-align: center;
	font-size: 24px;
	padding: 10px;
	background-color: #48bf91;
	border: none;
	border-radius: 30px;
	color: white;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");

  /* Set a specific height */
  height: 50%;
  padding: 75px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contButton{
	font-size: 30px;
	background-color: #ADD8E6;
	border-radius: 15px;
	padding: 15px;
	border: none;
	cursor: pointer;
	display: block;
	width: fit-content;
	margin: 40px auto 40px auto;
}

#question{
	text-align: center;
	color: white;
	background-color: #4277c3;
	padding: 15px;
	border-radius: 20px 20px 0px 0px;
	margin: 0px;
}

#questionCard{
	width: 50%;
	margin: auto;
}

#answerSection{
	background-color: white;
	border-radius: 0px 0px 20px 20px;
}

.answer{
	padding: 15px;
}

#result{
	width: 15%;
	border: solid;
	margin: 30px auto 30px auto;
	text-align: center;
	color: white;
	border-color: gray;
	background-color: gray;
	border-radius: 30px;
	font-size: 24px;
	padding: 5px;
}

.navButton{
	margin: 15px;
	font-size: 20px;
}

#keyInput{
	display: block;
	width: fit-content;
	margin: auto;
	padding: 15px;
}

#apikey{
	display: block;
	margin: auto;
	border-radius: 25px;
	border: 1px solid;
	padding: 5px;
	color: #191970;
	width: 100%;
	text-align: center;
}

#saveButton{
	margin-top: 15px;
	width: 100%;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
